.intro{
    display: flex;
    height: 100vh;
}

.intro-left{
    flex: 1;
}

.intro-right{
    flex: 1;
}

.intro-left-wrapper{
    padding: 50px;
}

.intro-hey{
    font-size: 30px;
    font-weight: 200;
}

.intro-name{
    font-size: 60px;
    font-weight: 300;
}

.intro-title{
   height: 50px;
   overflow: hidden;
}

.intro-title-item{
    height: 50px;
    font-size: 30px;
    color: #cce3de;
    display: flex;
    align-items: center;
}